#edit-entity-dialog {
    display: none;
    position: absolute;
    top: 50;
    left: 5%;
    height: 70%;
    width: 90%;
    border: 1px solid var(--color-outline-dark);
    border-radius: 12px;
    background-color: var(--color-background-light);
}

#edit-entity-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 35px;
    box-sizing: border-box;
}

#edit-entity-container h1 {
    font-size: 14pt;
    margin-left: 15px;
}

#edit-entity-container input {
    padding: 2px 4px;
    margin-left: 2px;
    margin-right: 10px;
}

#edit-entity-x-button {
    position: absolute;
    top: 10px;
    left: 7.5px;
    padding: 0px;
    color: var(--color-font-dark);
    font-size: 12pt;
    padding: 4px;
    padding-top: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    background: none;
    border-radius: 3px;
    line-height: 0.75em;
}
#edit-entity-x-button:hover {
    background-color: var(--color-delete);
}

#edit-entity-form-container {
    margin: 15px 0px;
}

.input-div {
    display: inline-block;
    padding: 10px 0px;
}

#edit-entity-name {
    min-width: 600px;
    font-size: 14pt;
}

#edit-entity-name-label {
    font-size: 14pt;
}

#edit-entity-description {
    width: 80%;
    height: 200px;
    margin-top: 5px;
}

#edit-entity-relations-container {
    position: relative;
}

#edit-entity-relations-container .entity-col {
    width: 200px;
    text-align: center;
    position: relative;
    height: 100%;
}
#edit-entity-relations-container .entity-title {
    font-size: 12pt;
}

#edit-entity-relations-container .sep::after {
    right: 0;
    background: linear-gradient(to bottom, var(--color-outline-light), var(--color-background-light));
}

.relation-search-add-button {
    text-align: left;
    width: 100%;
    font-size: 10pt;
    border: none;
    text-decoration: none;
    border-radius: 0;
    margin: 0;
}
.relation-search-add-button:hover {
    background-color: var(--color-accept);
}

#edit-buttons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#edit-entity-ok-button {
    background-color: var(--color-accept);
}

#edit-entity-ok-button:hover {
    background-color: var(--color-accept-hover);
}

#edit-entity-cancel-button {
    background-color: var(--color-button);
}

#edit-entity-cancel-button:hover {
    background-color: var(--color-button-hover);
}

#edit-entity-delete-button {
    background-color: var(--color-delete);
    margin-right: 20px;
}

#edit-entity-delete-button:hover {
    background-color: var(--color-delete-hover);
}

#edit-entity-delete-button::after {
    display: inline-block;
    content: "";
    background-color: var(--color-outline-light);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    margin-left: 20px;
}