.entities-list {
    display: block;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid gray;    
}
.entities-list table {
    width: 100%;
    table-layout: fixed;
}
.entities-list td {
    padding: 14px 20px 12px 12px;
}
.entities-list tr {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.entities-list tr:nth-child(even) {background: #f5f5f5}
.entities-list tr:nth-child(odd) {background: #fafafa}