.entities-list {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid var(--color-outline-dark);
}

.entities-list table {
    width: 100%;
    table-layout: fixed;
}

.entities-list tr {
    font-size: 16px;
    border: none;
    width: 100%;
}

.entities-list tr:nth-child(even) {
    background-color: var(--color-background-medium);
}

.entities-list tr:nth-child(odd) {
    background-color: var(--color-background-light);
}

.entities-list button {
    background: none;
    width: 100%;
    border: none;
    text-align: left;
    padding: 14px;
    padding-left: 20px;
    margin: 0;
}

.entities-list button:hover {
    background-color: var(--color-edit);
}