.filters-list {
    display: none;
    border: 1px solid var(--color-outline-light);
    border-top: 2px solid var(--color-outline-medium);
    margin-left: 2px;
}

.filter-entry button {
    padding: 8px;
    padding-left: 24px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 10pt;
    border-radius: 0px;
    margin: 0;
}

.filter-entry[data-active="0"] {
    display: none;
}

.filter-entry[data-active="1"] {
    display: block;
}

.filter-entry[data-logical="and"] button {
    background-color: var(--color-background-very-dark);
}

.filter-entry[data-logical="and"] button:hover {
    background-color: var(--color-delete);
}

.filter-entry[data-logical="or"] button {
    background-color: var(--color-background-dark);
}

.filter-entry[data-logical="or"] button:hover {
    background-color: var(--color-delete);
}