.filters-list {
    display: block;
    border: 1px solid #ddd;
    border-top: 2px solid #aaa;
    background-color: #f5f5f5;
}

.filter-entry {
    display: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.filter-entry:hover {
    background-color: #f1f1f1
}
.filter-entry button {
    float: right;
    margin-left: 5px;
    border: none;
    text-decoration: none;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    text-align: center;
    background-color: #ccc;
}
.filter-entry button:hover {
    background-color: #ddd;
}