.filters-list {
    display: none;
    border: 1px solid #ddd;
    border-top: 2px solid #aaa;
}

.filter-entry button{
    padding: 8px;
    padding-left: 24px;
    text-decoration: none;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 10pt;
}
.filter-entry[data-active="0"] {
    display: none;
}
.filter-entry[data-active="1"] {
    display: block;
}
.filter-entry[data-logical="and"] button{
    background-color: #d5d5d5;
}
.filter-entry[data-logical="and"] button:hover {
    background-color: rgb(255, 128, 128);
}
.filter-entry[data-logical="or"] button{
    background-color: #f5f5f5;
}
.filter-entry[data-logical="or"] button:hover {
    background-color: rgb(255, 128, 128);
}