@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

#entities-cols {
    display: flex;
    height: 100%;
    width: 100%;
}

@entity-col-padding: 25px;

.entity-col {
    display: inline-block;
    *display: block;
    zoom: 1;
    vertical-align: top;
    width: 300px;
    padding-left: @entity-col-padding;
    padding-right: @entity-col-padding;
}

.entity-col::after {
    display: inline-block;
    content: "";
    background-color: #CCC;
    width: 1px;
    height: 100%;
    position: fixed;
    top: 0px;
    margin-left: -@entity-col-padding;
}

.entity-title {
    text-align: center;
    padding: 12px;
    font-size: 16pt;
}