@import url(//db.onlinewebfonts.com/c/0b811799540d4b23474c8cd3c9576879?family=FF+Tisa+Sans);

@font-face {
    font-family: "FF Tisa Sans";
    src: url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.eot");
    src: url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.woff") format("woff"), url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0b811799540d4b23474c8cd3c9576879.svg#FF Tisa Sans") format("svg");
}

* {
    margin: 0;
    padding: 0;
    font-family: "FF Tisa Sans";
}

#entities-cols {
    display: flex;
    height: 100%;
    width: 100%;
}

@entity-col-padding: 25px;

.entity-col {
    display: inline-block;
    *display: block;
    zoom: 1;
    vertical-align: top;
    width: 300px;
    padding-left: @entity-col-padding;
    padding-right: @entity-col-padding;
}

.entity-col::after {
    display: inline-block;
    content: "";
    background-color: #CCC;
    width: 1px;
    height: 100%;
    position: fixed;
    top: 0px;
    margin-left: -@entity-col-padding;
}

.entity-title {
    text-align: center;
    padding: 10px;
    font-size: 16pt;
}